// FONT-SIZE
$fs-1: 12px;

// FONT-WEIGHT
$fw-1: 500;
$fw-2: 400;
$fw-3: 600;

// COLOR
$color-1: #fff;
$color-2: #959595;
$color-3: #000;
$color-4: #dcdcdc;
$color-5: #00000040;
$color-6: #ec1820;

// BACKGROUND
$bg-1: #fff;
$bg-2: #000;
$bg-3: #ec1820;

// BORDER
$bd-1: 1px solid #cfcfcf;

// BORDER-RADIUS
$bd-r-1: 5px;
