@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./abstracts/variables";
@import "./base/_reset.scss";
@import "./abstracts/_mixins.scss";

.content {
  padding: 0 360px;
}
/* HEADER */
.header_nav {
  background: $bg-1;
  box-shadow: 0px 4px 4px #eaeaea;

  .header {
    background: $bg-2;
    color: $color-1;
    padding: 8px 0;
    .container {
      display: flex;
      align-items: center;
    }
    .logo {
      img {
        width: 184px;
        height: 44px;
        object-fit: contain;
      }
    }

    .contact {
      display: flex;
      align-items: center;
      margin-left: 43px;

      img {
        width: 12px;
        height: 12px;
        object-fit: contain;
      }

      span {
        margin-left: 7px;
        font-weight: $fw-1;
        font-size: 15px;
      }
    }

    .search {
      position: relative;
      margin-left: auto;

      input {
        height: 30px;
        border-radius: 50px;
        padding: 8px 40px 8px 15px;
        border: none;
        font-size: $fs-1;

        &:focus {
          border: 1px solid $color-2;
          box-shadow: none;
        }

        &::placeholder {
          font-weight: $fw-2;
          font-size: $fs-1;
          line-height: 150%;
          display: flex;
          align-items: center;
          color: $color-2;
        }
      }

      img {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 6px;
        right: 9px;
      }
    }

    .cart {
      padding: 0 18px;
      img {
        width: 30px;
        height: 28px;
        object-fit: contain;
      }
    }

    .acount {
      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
  }
}

/* NAV */
.menu {
  display: flex;
  padding: 15px 0;
  justify-content: center;
  .container {
    display: flex;
    align-items: center;
  }
  .nav_content {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    > li:last-child > .nav_item {
      margin-right: 0;
    }
  }
  .toggler {
    .btnToggle {
      width: 41px;
      height: 38px;
      background: $bg-2;
      border-radius: $bd-r-1;
      border: none;
    }
  }

  .nav_item {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $bg-1;
    border: 0.5px solid #b4b4b4;
    box-sizing: border-box;
    border-radius: $bd-r-1;
    padding: 6px;
    height: 42px;
    cursor: pointer;
  }

  .item1 {
    > img:first-child {
      width: auto;
      max-width: 30px;
      height: auto;
    }

    span {
      font-weight: $fw-3;
      font-size: 16px;
      line-height: 20px;
      color: $color-3;
      margin-left: 6px;
      margin-right: 3px;
    }
  }
  .item4 {
    img:first-of-type {
      width: 30px;
      height: 20px;
      object-fit: contain;
    }
  }
}

/* MENU_DROPDOWN */
.container {
  .menu_dropdown {
    background-color: $bg-1;
    box-shadow: 1px 1px 12px $color-5;
    display: flex;

    .nav_left_custom {
      border-right: 1px solid $color-4;
    }

    .nav_left {
      padding: 15px 10px;

      .nav_left_item {
        p {
          margin: 0;
          padding: 7.5px 20px;
          font-weight: $fw-1;
          font-size: 16px;
          line-height: 20px;
          max-width: 100%;
          object-fit: contain;
        }
      }

      .nav_left_item_active {
        background: $bg-2;
        border-radius: $bd-r-1;

        p {
          color: $color-1;
          font-weight: 700;
        }
      }
    }

    .content_right {
      padding: 45px 69px 55px 45px;
    }
  }
}

/* CAROUSEL */
.carousel_news {
  padding-top: 50px;
  .container {
  }

  .carousel {
    img {
      width: 892px;
      height: 400px;
      object-fit: contain;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
      content: "";
      background-image: url("../assets/banners/icon_next.png");
      position: absolute;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
      background-image: url("../assets/banners/icon_previous.png");
      position: absolute;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .news {
    background: $bg-1;
    box-shadow: 1px 1px 4px $color-5;
    padding: 25px 15px;

    p {
      font-family: "Montserrat";
      font-weight: $fw-3;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 4px;
      @include line_clamp(1);
    }

    h1 {
      font-family: "Montserrat";
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color: $color-3;
    }

    .news_item {
      height: 44px;
      display: flex;
      align-items: center;
      margin-top: 16px;

      img {
        height: 100%;
      }

      span {
        font-weight: $fw-2;
        font-size: 13px;
        line-height: 17px;
        margin-left: 10px;
        @include line_clamp(2);
      }
    }
  }
}

/* PRODUCT_HOT */
.product_hot {
  display: flex;
  @include container();
  padding: 10px 0;
  justify-content: center;

  @include container();

  .row {
    margin: 0;
  }

  .product_hot_item {
    padding: 0;
  }

  .product_hot_item_2 {
    margin: 0 10px;
  }

  .card {
    .card-body {
      padding: 0;
      background-color: $bg-2;
      position: relative;
      display: flex;
      align-items: center;
      padding: 8px 0;

      span {
        position: absolute;
        width: 58px;
        height: 28px;
        left: 4px;
        background: $bg-3;
        border-radius: $bd-r-1;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $color-1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $color-1;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        text-align: center;
        justify-content: center;
      }
    }

    img {
      height: 205px;
      object-fit: cover;
      width: 100%;
    }
  }
}

/* TOP_SEARCH */

.top_search {
  .top_search_content {
    background: $bg-2;
    // display: flex;
    // align-items: center;
    padding: 13px 25px;

    .top_search_item {
      background: $bg-3;
      border-radius: $bd-r-1;
      // margin: 0 35px 0 25px;
      padding: 4px 7px;

      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $color-1;
      }
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      color: $color-1;
      flex-wrap: wrap;
      margin-bottom: -10px;
      li {
        margin-right: 32px;
        margin-bottom: 10px;
        :last-child {
          margin-right: 0;
        }
      }
    }
  }
}

/* PRODUCTS_BEST_SELLER */
.products_best_seller {
  margin: 60px 0 30px 0;
  .products_best_seller_title {
    text-align: center;
    margin-bottom: 25px;

    h1 {
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      position: relative;
      display: flex;

      &::before,
      &::after {
        content: "";
        border-bottom: 1px solid $color-3;
        flex-grow: 1;
        margin-bottom: 10px;
        margin-right: 10px;
      }

      &::before {
        margin-right: 10px;
      }

      &::after {
        margin-left: 10px;
      }

      button {
        &:first-of-type {
          width: 34px;
          height: 34px;
          top: 15px;
          right: 33px;
          background: $bg-1;
          border: $bd-1;
          box-sizing: border-box;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:last-of-type {
          width: 34px;
          height: 34px;
          top: 15px;
          right: 0px;
          background: $bg-1;
          border: $bd-1;
          box-sizing: border-box;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        img {
          width: 24px;
        }
      }
    }

    p {
      font-weight: $fw-1;
      font-size: 18px;
      line-height: 22px;
    }
  }

  .products_best_seller_list {
    .item {
      background: $bg-1;
      box-shadow: 1px 1px 4px $color-5;
      margin-bottom: 30px;
      padding: 15px;

      .color {
        height: 20px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 15px;

        div {
          width: 20px;
          height: 20px;

          margin: 0;
          display: inline-block;
          margin-right: 10px;

          &:nth-child(1) {
            background-color: #5e5e5e;
          }

          &:nth-child(2) {
            background-color: #ababab;
          }

          &:nth-child(3) {
            background-color: #e1e1e1;
          }
        }
      }

      .description {
        margin: 0;
        font-weight: $fw-2;
        font-size: 13px;
        line-height: 17px;
        @include line_clamp(2);
      }

      .price {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $color-6;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }

    .item4 {
      .color {
        div {
          &:nth-child(1) {
            background: #252525;
          }

          &:nth-child(2) {
            background: #205d7a;
          }
        }
      }
    }

    .item6 {
      .color {
        div {
          &:nth-child(1) {
            background: #980110;
          }

          &:nth-child(2) {
            background: #171e26;
          }

          &:nth-child(3) {
            background: #215e7b;
          }

          &:nth-child(4) {
            background: #f6d9d3;
          }

          &:nth-child(5) {
            background: #f8f5f0;
            margin-right: 0;
          }
        }
      }
    }
  }
}

/* BANNER_2 */
.banner_2 {
  margin-bottom: 60px;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

/* PHONE */
.phone {
  margin: 30px 0;
  .products_best_seller_title_phone {
    h1 {
      display: flex;
      justify-content: center;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;

      &::after,
      &::before {
        content: "";
        border-bottom: 1px solid $color-3;
        flex-grow: 1;
        margin-bottom: 10px;
      }

      &::after {
        margin-left: 10px;
      }

      &::before {
        margin-right: 10px;
      }
    }

    p {
      font-weight: $fw-1;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
  }
}

/* TABLET */
.tablet {
  margin-top: 0;
}

/* BANNER 3 */
.banner_3 {
  background: #ffedeb;
  margin-bottom: 25px;

  .banner_3_title {
    display: flex;
    justify-content: space-between;
    padding: 22px 60px;
    padding-bottom: 0;
    border-bottom: 0.5px solid #c7c7c7;

    h1 {
      font-weight: $fw-3;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .banner_3_content {
    padding: 28px 60px;

    .row {
      align-items: center;
    }

    .banner_3_content_left {
      h1 {
        &:first-of-type {
          font-weight: $fw-2;
          font-size: $fs-1;
          line-height: 15px;
          margin: 0;
        }

        &:last-of-type {
          font-weight: 800;
          font-size: 26px;
          line-height: 32px;
          margin: 5px 0 7px 0;
        }
      }

      img {
        width: 68.46px;
        margin: 15px 0;
      }

      .product_type {
        font-weight: $fw-1;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
      }

      .price {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $color-6;
      }

      a {
        font-style: italic;
        font-weight: $fw-2;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: $color-3;

        img {
          width: 16px;
        }
      }
    }

    .banner_3_content_center {
      .swiper-slide {
        margin-right: 30px;
        text-align: center;
        // img {
        //   width: 310px;
        // }
      }

      .swiper-pointer-events {
        height: 100%;
      }

      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        right: 40px;
      }

      .swiper-button-next:after,
      .swiper-rtl .swiper-button-prev:after {
        content: "";
        background-image: url("../assets/banner_3/icon_next.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
      }

      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        left: 40px;
      }

      .swiper-button-prev:after,
      .swiper-rtl .swiper-button-next:after {
        content: "";
        background-image: url("../assets/banner_3/icon_previous.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
      }

      .ratio_custom {
        width: 100%;
        padding-top: 100%; /* 1:1 Aspect Ratio */
        position: relative; /* If you want text inside of it */
        padding-top: 60%;

        > img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          height: auto;
        }
      }
    }

    .banner_3_content_right {
      .row {
        margin: 0;
        padding: 15px 0;
        justify-content: space-around;
      }

      .brand_item {
        height: 76px;
        background: $bg-1;
        box-shadow: 1px 1px 4px $color-5;
        border-radius: 10px;
        margin-bottom: 10px;
        text-align: center;
        line-height: 76px;
      }
    }
  }
}

.brands_list {
  margin-bottom: 153px;
}
.content_right_brand {
  height: 76px;
  background: $bg-1;
  box-shadow: 1px 1px 4px $color-5;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 76px;
}

.quick_search {
  .row {
    justify-content: space-between;
  }
  .quick_search_item {
    width: 227px;
    height: auto;
    object-fit: contain;
    border: 1px solid $color-4;
    box-sizing: border-box;
    border-radius: $bd-r-1;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
}

/* BANNER 4 */
.banner_4 {
  background-color: #e4efff;
}

.section__title {
  &--red {
    color: red;
  }
  &--sm {
    font-size: 10px;
  }
}

/* PRODUCT_SLIDER */
.product_slider {
  padding: 60px 306px;
  background-color: #ededed;
  position: relative;

  .prevProductSlider {
    margin-right: 30px;
    cursor: pointer;
  }

  .nextProductSlider {
    cursor: pointer;
    margin-left: 30px;
  }
}

.product_slider_item {
  width: 175px;
  height: 175px;
  background: $bg-1;
  text-align: center;
  line-height: 175px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px #0000001a;

  img {
    width: 111px;
    height: auto;
    object-fit: cover;
  }
}

/* QUICK_SEARCH */
.quick_search {
  .container {
    padding: 31px 0 62px 0;
  }
}

.quick_search_title {
  span {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-left: 10px;
  }
}

.quick_search_tag {
  margin-top: 10px;
  max-width: 100%;
  object-fit: contain;
  .quick_search_tag_item {
    padding: 4px 10px;
    background: $bg-1;
    border: 1px solid $color-4;
    box-sizing: border-box;
    border-radius: $bd-r-1;
    display: inline-block;
    margin-right: 10px;
    margin-top: 19px;
  }
}

/* FOOTER */
.footer {
  background: $bg-2;
  color: $color-1;
  padding-top: 58px;

  .row {
    max-width: 100%;
    margin: 0;
  }
}

.footer_title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.footer_item {
  font-weight: $fw-2;
  font-size: 16px;
  line-height: 20px;
  margin: 14px 0;
  display: flex;
  align-items: flex-start;

  span {
    margin-left: 19px;
  }

  svg {
    flex-shrink: 0;
  }
}

.social_icon {
  margin: 25px 0;
  svg {
    margin-right: 19px;
  }
}

.payment {
  margin: 20px 0 15px 0;

  img {
    margin-right: 15px;
  }
}

.certifiation {
  margin-bottom: 40px;
  svg {
    width: 100%;
    height: auto;
  }
}

.border_bottom_footer {
  border-bottom: 1px solid #484848;

  .container {
    padding: 0;
  }
}

.logo_footer {
  img {
    @include logo(247px, 59px);
  }
}

.footer_contact {
  position: relative;
  input {
    width: 100%;
    padding: 8px 15px;
    border-radius: $bd-r-1;
    border: none;
    padding-right: 80px;
  }

  .btnSend {
    background-color: $bg-3;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color-1;
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px 15px;
  }
}

.footer_menu {
  padding: 20px 0;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;

    li {
      padding: 0 12px;
      position: relative;
      // border-right: 1px solid #FFFFFF;

      &::after {
        content: "";
        height: 20px;
        width: 1px;
        position: absolute;
        background: $bg-1;
        right: 0;
      }
    }
  }
}

.footer_copyRight {
  display: flex;
  justify-content: center;
  padding: 35px 0;

  p {
    margin: 0;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1224px;
  }
}

@media (max-width: 500px) {
  .header_nav .header .container {
    display: block;
  }

  .carousel_news {
    padding-top: 15px;
  }

  .carousel_news .news {
    display: none;
  }

  .carousel_news .carousel img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .product_slider {
    padding: 0;
  }

  .product_hot .product_hot_item_2 {
    margin: 10px 0;
  }

  // .header_nav .header .container .logo {
  //   display: none;
  // }

  .header_nav .header .contact span {
    font-size: 12px;
  }

  .header_nav .header .contact {
    padding: 45px;
    margin: 0;
    padding-bottom: 16px;
  }

  // .header_nav .header .search {
  //   display: none;
  // }

  .header_nav {
    display: none;
  }

  .header_mobile {
    display: block;
  }

  .products_best_seller .products_best_seller_title h1,
  .phone .products_best_seller_title_phone h1 {
    font-size: 24px;
  }

  .content {
    padding: 0;
  }

  .menu {
    padding-top: 0;
  }

  .header_nav .header .logo img {
    width: 122px;
    height: auto;
  }

  .header_nav .header .cart {
    padding: 0 10px;
  }

  .header_mobile_nav {
    display: flex;
  }

  .header_mobile_nav_left,
  .header_mobile_nav_right {
    display: flex;
    align-items: center;
  }

  .header_mobile_nav_right {
    margin-left: auto;
  }

  .container .menu_dropdown {
    margin-top: 10px;
  }

  .container .menu_dropdown .nav_left .nav_left_item p {
    font-size: 11px;
  }

  .container .menu_dropdown .content_right {
    padding: 15px 10px;
  }

  .content_right_brand {
    height: 51px;
    line-height: 51px;
    margin-bottom: 10px;

    img {
      width: 27px;
      height: auto;
      object-fit: contain;
    }
  }

  .custom_brand {
    padding: 0;
    padding-right: 10px;
  }

  .brands_list {
    margin: 0;
  }

  .menu_dropdown_mobile_left {
    border-right: 1px solid #dcdcdc;
    padding-right: 0;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0;
  }

  .products_best_seller{
    margin: 0;
    margin-top: 60px;
  }

  // .custom_brand{
  //   padding: 0 5px;
  // }
}

@media (min-width: 992px) {
  .header_nav {
    display: block;
  }

  .header_mobile {
    display: none;
  }
}
